h1{
    color:blue;
    font-weight: bold;
    text-shadow: blue;
    font-size: 45px;
    text-align: center;
    font-family: 'Lucida Sans' ;
}

.Audios{
    padding: 15px;
    
}

.AudiosCeleb{
    padding: 15px;

    
}

button{

    width: 400px;
    height: 35px;
    padding: 10px;
    background-color: blue;
    color: antiquewhite;
}


.NameBlock{
    padding: 2px;

}

.dropdownAudios{

    display: flex;


}


ul audio {
    display: flex;
}

.celebImgBox{
    width: 20px ;
    height: 20px; ;
}

a{ display: flex;}


